#navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    font-size: 20px;
}

@media (max-width: 767px) {
    #navbar-container{
        display: none;
    }
    
    
}

#navbar-menu{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    font-weight: bold;    
}

#navbar-menu a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 16px;
}

#navbar-menu a:hover{
    transition: 0.5s;
    color: #FF964f;


}

#navbar-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;


    background-color: #FF5F15;
    border-radius: 25px;
    transition: 0.25s;
}
#navbar-signup:hover{
    background-color: #e75816;
    transition: 0.5s;
}

#navbar-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

    background-color: transparent;
    border-radius: 25px;
    border: 1px solid black;
    transition: 0.25s;
}
#navbar-login:hover{
    background-color: #E5E4E2;
    transition: 0.5s;
}
#navbar-right{
    display: flex;
    gap: 25px;
}
